body{
	background-color:black;
	color:lightgrey;
	font-size:28px;
	font-family: 'Ubuntu Mono', monospace;
}

li{
    display: inline-block;
    font-family: 'Nosifer';
    letter-spacing: 2px;
    font-size: 55px;
    text-shadow: 0 0 20px darkred;
    
}

li:nth-child(3),li:nth-child(7){ 
 transform: rotate(10deg) translateY(6px);
    color: darkred;
    animation: neon 2s infinite ease-in-out;
}

@keyframes neon{
    
     0%{
        opacity:0;} 
    15%{
        opacity:0.5;}
    30%{
        opacity:1;}
    40%{
        opacity:0;}
    55%{
        opacity:0.5;}
    75%{
        opacity:0.5;}
     80%{
        opacity:1;}
    90%{
        opacity:0;}
    95%{
        opacity:0;}
   100%{
        opacity:1;}
    
}

input[type=text],[type=password]{
	margin-left:20px;
	background-color:black;
	border-right:none;
	border-left:none;
	border-top:none;
	color:lightgrey;
	border-bottom:3px dashed white;
	width:150px;
	box-size:border-box;
	font-size:25px;
}

input[type=text]:focus,[type=password]:focus{
	margin-left:20px;
	background-color:black;
	border-right:3px solid white;
	border-left:3px solid white;
	border-top:3px solid white;
	color:lightgrey;
	border-bottom:3px solid white;
	width:150px;
	box-size:border-box;
	font-size:25px;
	
}


input[type=submit]{
	letter-spacing:2px;
	background-color:black;
	margin-top:30px;
	color:lightgrey;
	height:45px;
	width:250px;
	margin-left:20px;
	border:3px solid white;
	border-radius:15px;
	font-family: 'Ubuntu Mono', monospace;
	font-size:20px;
	cursor:pointer;
}

input[type=submit]:hover{
	
	color:white;
	height:50px;
	width:260px;
	margin-left:20px;
	border:3px solid white;
	font-size:25px;
	
}



#pojemnik{
	
	margin-left:auto;
	margin-right:auto;
	width:900px;
}
#menu_g{
	width:900px;
	margin-top:25px;
	margin-bottom:25px;
	text-align:right;
	font-size:30px;
	min-height:60px;
	}
	
	.menu1{
		width:400px;
		float:left;
		margin-right:50px;
		}
	.menu1>a{
		letter-spacing:1px;
		font-size:30px;
		float:left;
		}
		.menu1>a:hover{
		font-size:35px;
		
		}
			
			
		
		
#wynik{
	width:100% ;
	font-size:35px ;
	color:lightgrey;
	text-align:left;
	
}
.sekcja{
	width:200px;
	float:left;
	text-align:left;
}
.logout{
	width:500px;
	float:left;
	text-align:right;
	color:lightgrey;
	text-decoration:none;
	cursor:pointer;
	}
.logout>a{
text-decoration:none;
cursor:pointer;
color:lightgrey;
}
.logout>a:hover{
cursor:pointer;
color:white;
font-size:37px;
}
.komunikat{
	margin-left:150px;
	margin-top:5px;
	font-size:16px;
	color:red !important;
	
}
	
#index_powitanie{
	width:900px;
	margin-top:25px;
	margin-bottom:50px;
	text-align:left;
	font-size:40px;
	
}
#rejestracja{
	font-weight: bold;
	font-size:35px;
	color:white;
}
#rejestracja_index{
	width:42%;
	margin-top:50px;
	margin-left:50px;
	font-size:28px;
	float:left;
	font-weight: bold;
	
}


#rejestracja_index1{

	margin-top:50px;
	margin-left:50px;
	font-size:28px;
	float:left;
	
}
.zarejestruj{
	width:500px;
	height:28px;
	margin-top:40px;
	padding-bottom:30px;
	margin-left:50px;
	font-size:28px;
	float:left;
	font-weight: bold;
	
}
#wroc{
	width:500px;
	height:28px;
	margin-top:100px;
	margin-left:550px;
	padding-bottom:30px;

	font-size:28px;
	float:left;
	font-weight: bold;
	
	
}
.pole_rejestracji{
	width:150px;
	text-align:right;
	margin-top:40px;
	float:left;

}
.pole_rejestracji_formularze{
	width:340px;
	text-align:left;
	padding-left:10px;
	margin-top:40px;
	float:left;
	height:28px;

}
.gra{
	padding:50px;
	text-decoration:none;
	font-weight: bold;
	font-size:40px;
	color:white;
}

.gra:hover{
	font-size:45px;
	color:white;
	cursor:pointer;
	
}

#rejestracja:hover{
	font-size:40px;
	color:white;
	cursor:pointer;
	
}

#plansza{
	width:900px;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
	font-size:48px;
	min-height:60px;
	letter-spacing:1px;
}

#logo{
	width:900px;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
	font-size:75px;
	min-height:60px;
	letter-spacing:4px;
	font-weight: bold;
}
#szubienica{
	float:left;
	width:450px;
	text-align:center;
	min-height:280px;
}



#alfabet{
	float:left;
	width:450px;
	text-align:center;
	min-height:280px;
}

.litera{
	width:30px;
	height:30px;
	text-align:center;
	padding:5px;
	margin:5px;
	border:3px solid grey;
	float:left;
	cursor:pointer;
	border-radius:15px;
	}
.litera:hover{
	background-color:#222222;
	color:white;
	border:3px solid white;
}	
.reset:hover{
	
	font-size:35px;
}